
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

h1 {
    margin-top:2em;
}
.pleaseWait {
    text-align: center;
}
.flex {
    display:flex;
}
.left, .right {
    margin: 0 auto;
}
.score1, .score2 {
    height: 2em;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */    text-align: center;
    background-size:6em;
    padding-top:1.5em;
}
